* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(
    45deg,
    #f950ff,
    #536493,
    #ffec51,
    #ff674d,
    #ffaa4f,
    #ef5a6f
  );
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: var(--gradient);
  background-size: 400%;
  background-position: left;
  animation: bg-animation 20s alternate infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.box1 {
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
}

p {
  font-size: 2rem;
  font-weight: bold;
  background: var(--gradient);
  background-position: left;
  background-size: 400%;
  color: transparent;
  background-clip: text;
  animation: p-animation 10s alternate infinite;
}

@keyframes p-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

button {
  padding: 10px 20px;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  background: var(--gradient);
  background-position: left;
  background-size: 400%;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  animation: p-animation 5s alternate infinite;
}
