* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #665d5d;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.items {
  background-color: #52c274;
  border: 5px solid black;
}

.item1 {
  grid-column: 1/3;
  background-color: #62949c;
}

.item2 {
  background-color: #e72828;
}
.item3 {
  background-color: #cbee4f;
}
.item4 {
  background-color: #28e741;
}
.item5 {
  background-color: #81cbdd;
}
.item6 {
  background-color: #5345d4;
}

.item7 {
  grid-column: 1/3;
  grid-row: 3/5;
  background-color: #38c6df;
}

.item8 {
  grid-row: 3/4;
  background-color: #c52137;
}
.item9 {
  grid-row: 3/4;
  background-color: #c4a1a1;
}

.item10 {
  background-color: #9bd6e7;
  grid-row: 4/5;
}

.item11 {
  background-color: #d84cb5;
  grid-row: 5/6;
  grid-column: 1/4;
}

.item12 {
  grid-row: 5/6;
  background-color: #106c7c;
}
