* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-transform: capitalize;
}

body {
  height: 100vh;
  background-color: rgb(87, 81, 81);
}

.container {
  height: 100%;
  background-color: #333;
  border: 2px solid red;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header header header"
    "sidebar content1 content1"
    "sidebar content2 content3"
    "footer footer footer";
}

.items {
  background-color: rgb(96, 96, 175);
  border: 2px solid black;
  padding: 2em;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
}

.content3 {
  grid-area: content3;
}

.footer {
  grid-area: footer;
}
